# Editor
.idea/*
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# NPM
**/node_modules
**/dist

# Others
.temp/
**/*vite*timestamp*
.eslintcache

workspace.md
